<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>CSV</h3>
</div>
<div class="modal-body">
    <div class="section">
        <label class="small">Download</label>
        <select class="input-small" ng-model="panel.download.mode" ng-options="f for f in ['Result','Raw']"></select>
    </div>

    <div class="section" ng-show="panel.download.mode=== 'Raw'">
        <label class="small">Choose Fields</label>
        <label class="node-option"  ng-repeat="f in panel.download.fields">
            <input type='checkbox' ng-model="f.selected">  {{f.name}}
        </label>
    </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="download_cvs()">Download</button>
  <button type="button" class="btn btn-success" ng-click="dismiss()">Close</button>
</div>
