<div class="modal-body" xmlns="http://www.w3.org/1999/html">
    <style>
      .timepicker-to-column {
        margin-top: 10px;
      }

      .node-option{
          margin-left: 10px;
      }

      .rows-option{
          width:60px
      }
      .timepicker-input input {
        outline: 0 !important;
        border: 0px !important;
        -webkit-box-shadow: 0;
        -moz-box-shadow: 0;
        box-shadow: 0;
        position: relative;
      }

      .timepicker-input input::-webkit-outer-spin-button,
      .timepicker-input input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

      input.timepicker-date {
        width: 90px;
      }
      input.timepicker-hms {
        width: 20px;
      }
      input.timepicker-ms {
        width: 25px;
      }
      div.timepicker-now {
        float: right;
      }
    </style>

    <div class="section">
        <h5>Time Options</h5>
        <div class="editor-option">
            <label class="small">Time Field</label>
            <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.timefield">
        </div>
        <div class="editor-option">
            <label class="small">Time Zone</label>
            <select ng-model="panel.timezone" class='input-small' ng-options="f for f in ['utc']"></select>
        </div>
        <div class="editor-option">
            <label class="small">Auto-interval</label><input type="checkbox" ng-model="panel.auto_int" ng-checked="panel.auto_int" />
        </div>
        <div class="editor-option" ng-show='panel.auto_int'>
            <label class="small">Resolution <tip>Shoot for this many data points, rounding to sane intervals</tip></label>
            <input type="number" class='input-mini' ng-model="panel.resolution" ng-change='set_refresh(true)'/>
        </div>
        <div class="editor-option" ng-hide='panel.auto_int'>
            <label class="small">Interval <tip>Use Elasticsearch date math format (eg 1m, 5m, 1d, 2w, 1y)</tip></label>
            <input type="text" class='input-mini' ng-model="panel.interval" ng-change='set_refresh(true)'/>
        </div>
    </div>

    <div class="timepicker form-horizontal">
        <form name="input">

        <div class="timepicker-from-column">
          <label class="small">From</label>
          <div class="fake-input timepicker-input">
              <!--ng-change="validate(temptime)"-->
            <input class="timepicker-date" type="text" ng-change="validate(temptime)"  ng-model="temptime.from.date" data-date-format="yyyy-mm-dd" required bs-datepicker />@
            <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.from.hour" required ng-pattern="patterns.hour" onClick="this.select();"/>:
            <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.from.minute" required ng-pattern="patterns.minute" onClick="this.select();"/>:
            <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.from.second" required ng-pattern="patterns.second" onClick="this.select();"/>.
            <input class="timepicker-ms" type="text" maxlength="3" ng-change="validate(temptime)" ng-model="temptime.from.millisecond" required ng-pattern="patterns.millisecond"  onClick="this.select();"/>
          </div>
        </div>

        <div class="timepicker-to-column">

          <label class="small">To (<a class="link" ng-class="{'strong':panel.now}" ng-click="setNow();panel.now=false">now</a>)</label>

          <div class="fake-input timepicker-input">
            <div ng-hide="panel.now">
                <!--ng-change="validate(temptime)"-->
              <input class="timepicker-date" type="text" ng-change="validate(temptime)" ng-model="temptime.to.date" data-date-format="yyyy-mm-dd" required bs-datepicker />@
              <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.to.hour" required ng-pattern="patterns.hour" onClick="this.select();"/>:
              <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.to.minute" required ng-pattern="patterns.minute" onClick="this.select();"/>:
              <input class="timepicker-hms" type="text" maxlength="2" ng-change="validate(temptime)" ng-model="temptime.to.second" required ng-pattern="patterns.second" onClick="this.select();"/>.
              <input class="timepicker-ms" type="text" maxlength="3" ng-change="validate(temptime)" ng-model="temptime.to.millisecond" required ng-pattern="patterns.millisecond" onClick="this.select();"/>
            </div>
            <span type="text" ng-show="panel.now" ng-disabled="panel.now">&nbsp <i class="pointer icon-remove-sign" ng-click="setNow();panel.now=false"></i> Right Now <input type="text" name="dummy" style="visibility:hidden" /></span>

          </div>
        </div>


        </form>
    </div>

    <div class="section">
       <div class="editor-option">
           <label class="small">Customer</label>
            <select ng-model="selected_customer" ng-options="c for c in existing_customers" ng-change="set_selected_customer()"/>

            <button ng-click="update_date_range()" class="btn btn-success">Reset Time</button>
        </div>
    </div>

    <div class="section"  ng-show="selected_customer != 'All'">
             <label>Show the following nodes </label>
             <!--<label ng-repeat="n in existing_nodes" class="span3">-->
                 <!--<input type='checkbox' ng-model="n.selected">  {{n.name}}-->
             <!--</label>-->

            <table cellpadding="10px">
                <tr class="" ng-repeat="chunk in existingNodeChunks ">
                    <td ng-repeat="n in chunk">
                        <label>
                            <input type='checkbox' ng-model="n.selected" >{{n.name}}
                        </label>
                    </td>
                </tr>
            </table>

             IN  <select class="rows-option" ng-model="show_in_rows" ng-options="c for c in rows_options"/> rows
    </div>

    <div class="clearfix"></div>
    </div>
  </div>

  <div class="modal-footer">
    <form name="input" style="margin-bottom:0">
    <span class="" ng-hide="input.$valid">Invalid date or range</span>
    <button ng-click="setAbsoluteTimeFilter();dismiss();" ng-disabled="!input.$valid" class="btn btn-success">Apply</button>
    <button ng-click="dismiss();" class="btn btn-danger">Cancel</button>

    </form>
  </div>
